.language{
    position: absolute;
    left: 90%;
    top: 22px;
    width:200px;
    z-index:9999
}
.remind{
    position: absolute;
    left: 40%;
    top: 500px;
    width:500px;
    z-index:9999
}